<section data-ng-controller="HomeController" style="margin: 20px">

	<div class="jumbotron text-center">
		<div class="row">
			<h1>GALA MÉRITAS <br> HIVER 2015</h1>
		</div>

		<div class="row" style="margin-top: 30px">
			<p>
				<a class="btn btn-primary btn-lg" href="#!/sondage">Voter</a>
			</p>
		</div>
	</div>

    <h2>Bienvenue sur le site du sondage de la soirée méritas 2015!</h2>

    <p>
		<br/>
        Cette année encore, l'AEP et l'AECSP joignent leur force pour offrir au corps professoral un moment
        où leurs efforts seront reconnus. En effet, la réussite à l’École Polytechnique n’étant jamais acquise,
        il est important de remercier ceux et celles qui nous aident à y parvenir, ou du moins qui rendent
        le périple plus agréable! Il est donc primordial que ce vote soit pris le plus sérieusement possible.
    </p>

	<div style="margin-top: 40px">
		<p>Aidez nous à atteindre notre but! Il ne manque que <b>{{but - votes}}</b> votes!</p>
        <progressbar class="progress-striped active" max="but" value="votes" type="danger" style="height: 40px">
        </progressbar>
		<p>{{votes}} / {{but}}</p>
	</div>

</section>
