<section data-ng-controller="SondageController" style="margin: 20px">

    <p>Notes relatives au sondage : </p>

    <ul>
        <li>Vous ne pouvez voter que pour <i>vos</i> enseignants.</li>
        <li>Si un nom manque dans une liste, vous pouvez l'écrire dans la boîte de texte à cet effet en
            spécifiant le numéro de cours et de section.</li>
        <li>Vous ne pouvez voter qu'une seule fois.</li>
    </ul>

    <p>Sur ce, merci et bon vote!</p>

    <hr/>

    <h3>Votre matricule: </h3>
    <div class="input-group">
        <input type="text" ng-model="matricule" class="form-control">
        <select id="type" ng-model="typeCheck" class="form-control">
            <option value="">Vous êtes étudiant...</option>
            <option value="prepa">En année préparatoire</option>
            <option value="aep">Au baccalauréat</option>
            <option value="aecsp">Aux cycles supérieurs</option>
        </select>
    </div>
    <div>
        <small>
            Cela nous permettra de générer automatiquement la liste des professeurs, chargés et auxiliaires
            qui vous ont enseigné cette année.
        </small>
    </div>
    <button class="btn btn-primary" ng-disabled="vote.matricule == '' || typeCheck == ''" ng-click="actions.submitId()">Soumettre</button>
    <div ng-show="!matriculeValide" style="color: red">Le matricule entré est invalide!</div>

    <!--
    PREPA
    -->
    <div ng-show="submitted && matriculeValide && type == 'prepa'">
        <div class="vote">
            <h3 style="margin-top: 20px">Meilleur professeur, chargé ou auxiliaire</h3>
            <div>
                Votez pour le meilleur professeur ou chargé d'enseignement qui enseigne une de vos sections de cours
                en année préparatoire. Les cours d'année préparatoire sont les cours dont le chiffre débute par un 0,
                par exemple PHS0101.
            </div>

            <div class="jumbotron">
                <div class="vote-group">
                    <div class="form-group">
                        <label>Nom</label>
                        <select ng-model="votePrepa.nom" ng-options="p.Sigle + ' - ' + p.Name for p in dataPrepa | orderBy:'Sigle' | unique:'Name'" ng-disabled="votePrepa.nomCustom" class="form-control">
                            <option value="">Votre choix...</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Nom s'il n'est pas dans la liste</label>
                        <input type="text" ng-model="votePrepa.nomCustom" class="form-control" ng-disabled="votePrepa.nom" placeholder="Sigle du cours - Nom" />
                    </div>
                </div>
            </div>
        </div>

        <a class="btn btn-primary"
           ng-click="actions.submitVote()"
           ng-disabled="!votePrepa.nom && !votePrepa.nomCustom"
           href="#!/merci">
            Envoyer mes votes!
        </a>
    </div>

    <!--
    AEP
    -->
    <div ng-show="submitted && matriculeValide && type == 'aep'">
        <div class="vote">

            <!--
            PROFESSEUR
            -->
            <h3 style="margin-top: 20px">Meilleur professeur et chargé d'enseignement</h3>
            <div>
                Votez pour le meilleur professeur ou chargé d'enseignement qui enseigne une de vos sections de cours.
            </div>

            <div class="jumbotron">
                <div class="vote-group">
                    <div class="form-group">
                        <label>Nom du professeur</label>
                        <select ng-model="voteAep.prof" ng-options="p.Sigle + ' - ' + p.Name for p in dataAep.profs | orderBy:'Sigle' | unique:'Name'" ng-disabled="voteAep.profCustom" class="form-control">
                            <option value="">Votre choix...</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Nom du professeur s'il n'est pas dans la liste</label>
                        <input type="text" ng-model="voteAep.profCustom" class="form-control" ng-disabled="voteAep.prof" placeholder="Sigle du cours - Nom" />
                    </div>
                </div>
            </div>

            <!--
            CHARGE
            -->
            <h3 style="margin-top: 20px">Meilleur chargé de cours</h3>
            <div>
                Votez pour le meilleur chargé de cours qui enseigne une de vos sections de cours.
            </div>

            <div class="jumbotron">
                <div class="vote-group">
                    <div class="form-group">
                        <label>Nom du chargé</label>
                        <select ng-model="voteAep.charge" ng-options="c.Sigle + ' - ' + c.Name for c in dataAep.charges | orderBy:'Sigle' | unique:'Name'" ng-disabled="voteAep.chargeCustom" class="form-control">
                            <option value="">Votre choix...</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Nom du chargé s'il n'est pas dans la liste</label>
                        <input type="text" ng-model="voteAep.chargeCustom" class="form-control" ng-disabled="voteAep.charge" placeholder="Sigle du cours - Nom" />
                    </div>
                </div>
            </div>

            <!--
            AUXILIAIRE
            -->
            <h3 style="margin-top: 20px">Meilleur auxiliaire d'enseignement (chargé de TD, TP ou répétiteur)</h3>
            <div>
                Votez pour le meilleur auxiliaire d'enseignement. L'auxiliaire d'enseignement peut-être un chargé
                de travaux dirigés, un chargé de laboratoire ou un répétiteur.
            </div>

            <div class="jumbotron">
                <div class="vote-group">
                    <div class="forg-group">
                        <label>Nom de l'auxiliaire</label>
                        <select ng-model="voteAep.aux" ng-options="a.Sigle + ' - ' + a.Name for a in dataAep.aux | orderBy:'Sigle' | unique:'Name'" ng-disabled="voteAep.auxCustom" class="form-control">
                            <option value="">Votre choix...</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Nom de l'auxiliaire s'il n'est pas dans la liste</label>
                        <input type="text" ng-model="voteAep.auxCustom" class="form-control" ng-disabled="voteAep.aux" placeholder="Sigle du cours - Nom" />
                    </div>
                </div>
            </div>

            <!--
            SSH
            -->
            <h3 style="margin-top: 20px">Meilleur chargé ou enseignant pour les cours SSH</h3>
            <div>
                Votez pour tout enseignant, chargé ou auxiliaire pour vos cours SSH.
            </div>

            <div class="jumbotron">
                <div class="vote-group">
                    <div class="forg-group">
                        <label>Nom</label>
                        <select ng-model="voteAep.ssh" ng-options="s.Sigle + ' - ' + s.Name for s in dataAep.ssh | orderBy:'Sigle' | unique:'Name'" ng-disabled="voteAep.sshCustom" class="form-control">
                            <option value="">Votre choix...</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Nom s'il n'est pas dans la liste</label>
                        <input type="text" ng-model="voteAep.sshCustom" class="form-control" ng-disabled="voteAep.ssh" placeholder="Sigle du cours - Nom" />
                    </div>
                </div>
            </div>

            <!--
            MTH
            -->
            <h3 style="margin-top: 20px">Meilleur chargé ou enseignant pour les cours MTH</h3>
            <div>
                Votez pour tout enseignant, chargé ou auxiliaire pour vos cours MTH.
            </div>

            <div class="jumbotron">
                <div class="vote-group">
                    <div class="forg-group">
                        <label>Nom</label>
                        <select ng-model="voteAep.mth" ng-options="m.Sigle + ' - ' + m.Name for m in dataAep.mth | orderBy:'Sigle' | unique:'Name'" ng-disabled="voteAep.mthCustom" class="form-control">
                            <option value="">Votre choix...</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Nom s'il n'est pas dans la liste</label>
                        <input type="text" ng-model="voteAep.mthCustom" class="form-control" ng-disabled="voteAep.mth" placeholder="Sigle du cours - Nom" />
                    </div>
                </div>
            </div>

            <a class="btn btn-primary"
                    ng-click="actions.submitVote()"
                    ng-disabled="!voteAep.prof && !voteAep.charge && !voteAep.aux && !voteAep.ssh && !voteAep.mth &&
                                    !voteAep.profCustom && !voteAep.chargeCustom && !voteAep.auxCustom && !voteAep.sshCustom && !voteAep.mthCustom";
                    href="#!/merci">
                Envoyer mes votes!
            </a>
        </div>
    </div>

    <!--
    AECSP
    -->
    <div ng-show="submitted && matriculeValide && type == 'aecsp'">
        <div class="vote">
            <h3 style="margin-top: 20px">Meilleur professeur, chargé ou auxiliaire</h3>
            <div>
                Votez pour le meilleur professeur ou chargé d'enseignement qui enseigne une de vos sections de cours
                aux cycles supérieurs. Si vous êtes étudiant au baccalauréat mais que vous suivez des cours donnés
                aux cycles supérieurs (cours dont le chiffre débute par un 8 par exemple), remplissez tout de même
                le formulaire dédié aux étudiants au baccalauréat.
            </div>

            <div class="jumbotron">
                <div class="vote-group">
                    <div class="form-group">
                        <label>Nom</label>
                        <select ng-model="voteAecsp.nom" ng-options="p.Sigle + ' - ' + p.Name for p in dataAecsp | orderBy:'Sigle' | unique:'Name'" ng-disabled="voteAecsp.nomCustom" class="form-control">
                            <option value="">Votre choix...</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Nom s'il n'est pas dans la liste</label>
                        <input type="text" ng-model="voteAecsp.nomCustom" class="form-control" ng-disabled="voteAecsp.nom" placeholder="Sigle du cours - Nom" />
                    </div>
                </div>
            </div>
        </div>

        <a class="btn btn-primary"
           ng-click="actions.submitVote()"
           ng-disabled="!voteAecsp"
           href="#!/merci">
            Envoyer mes votes!
        </a>
    </div>

    <div class="footer">
        <hr>
        <a href="http://aep.polymtl.ca" title="AEP" target="_blank">Association des étudiants de Polytechnique (AEP)</a><br/>
        <a href="http://www.etudiants.polymtl.ca/aecsp" title="AECSP" target="_blank">Association des étudiants des cycles supérieurs de Polytechnique (AECSP)</a><br/>
        Pour tout problème ou commentaire, communiquez avec le<br />
        responsable du sondage - <a href="mailto:meritas@aep.polymtl.ca">meritas@aep.polymtl.ca</a>
    </div>

</section>
