<section data-ng-controller="HomeController" style="margin: 20px">

	<div class="banner jumbotron text-center">
        <img src="modules/core/img/header.png" width="1000px">
        <p>
            <a class="btn btn-primary btn-lg" href="#!/sondage">Voter</a>
        </p>
	</div>

	<div class="text">
        <h2>Bienvenue sur le site du sondage de la soirée méritas 2015!</h2>

		<div class="col-md-6">
            <div>
                <p>
                    <br>
                    Cette année encore, l'AEP et l'AECSP joignent leur force pour offrir au corps professoral un moment
                    où leurs efforts seront reconnus. En effet, la réussite à l’École Polytechnique n’étant jamais acquise,
                    il est important de remercier ceux et celles qui nous aident à y parvenir, ou du moins qui rendent
                    le périple plus agréable! Il est donc primordial que ce vote soit pris le plus sérieusement possible.
                </p>
            </div>
        </div>

		<div class="goal col-md-6">
            <div style="padding-top: 15px;">
                <p>
                    <div ng-show="votes < but">
                        <p>Aidez nous à atteindre notre but! Il reste encore <b>{{but - votes}}</b> votes!</p>
                    </div>
                    <div ng-show="votes >= but">
                        <p>Le but a été atteint! Merci!!</p>
                    </div>
                </p>
                <progressbar class="progress-striped active" max="but" value="votes" type="danger" style="height: 40px">
                </progressbar>
                <p><b>Votes: {{votes}} / {{but}}</b></p>
            </div>
        </div>
	</div>

	<div class="footer">
        <hr>
        <a href="http://aep.polymtl.ca" title="AEP" target="_blank">Association des étudiants de Polytechnique (AEP)</a><br/>
        <a href="http://www.etudiants.polymtl.ca/aecsp" title="AECSP" target="_blank">Association des étudiants des cycles supérieurs de Polytechnique (AECSP)</a><br/>
        Pour tout problème ou commentaire, communiquez avec le<br />
        responsable du sondage - <a href="mailto:meritas@aep.polymtl.ca">meritas@aep.polymtl.ca</a>
	</div>

</section>
