<div>
    <h3>Bienvenue sur le site du sondage de la soirée méritas 2015</h3>

    <p>
        Cette année encore, l'AEP et l'AECSP joignent leur force pour offrir au corps professoral un moment
        où leurs efforts seront reconnus. En effet, la réussite à l’École Polytechnique n’étant jamais acquise,
        il est important de remercier ceux et celles qui nous aident à y parvenir, ou du moins qui rendent
        le périple plus agréable! Il est donc primordial que ce vote soit pris le plus sérieusement possible.
    </p>

    <h3>Notes relatives au sondage : </h3>

    <ul>
        <li>Vous ne pouvez voter que pour <i>vos</i> enseignants.</li>
        <li>Si un nom manque dans une liste, vous pouvez l'écrire dans la boîte de texte à cet effet en
        spécifiant le numéro de cours et de section.</li>
        <li>Si vous votez plus d'une fois, tous vos votes seront effacés.</li>
    </ul>

    <p>Sur ce, merci et bon vote!</p>

    <hr/>

    <h3>Entrez ici les cours auxquels vous étiez inscrits en Automne 2014 ainsi que ceux
        auxuels vous etes inscrits maintenant.</h3>

    <div class="row cours" style="margin-left: 10px;">
        <div class="col-xs-6">
            <h4>Automne 2014 <br/></h4>
            <div ng-repeat="c in coursAut" class="form-group">
                <div class="in" style="width: 80%">
                    <input type="text" ng-model="c.name" class="form-control" placeholder="Ex: INF1500"/>
                </div>
                <div class="in">
                    <button style="margin-left: 10px;" class="btn btn-danger" ng-click="actions.removeAut(c)">X</button>
                </div>
            </div>
            <button class="btn btn-success" ng-click="actions.addAut()">+</button>
        </div>

        <div class="col-xs-6">
            <h4>Hiver 2015 <br/></h4>
            <div ng-repeat="c in coursHiv" class="form-group">
                <div class="in" style="width: 80%">
                    <input type="text" ng-model="c.name" class="form-control" placeholder="Ex: INF1500"/>
                </div>
                <div class="in">
                    <button style="margin-left: 10px;" class="btn btn-danger" ng-click="actions.removeHiv(c)">X</button>
                </div>
            </div>
            <button class="btn btn-success" ng-click="actions.addHiv()">+</button>
        </div>
    </div>

    <div style="clear: both; margin-top: 20px;">
        <button class="btn btn-primary" ng-disabled="coursAut.length == 0 && coursHiv.length == 0" ng-click="actions.submitClasses()">Soumettre</button>
    </div>

    <div class="vote">

        <hr/>

        <!--
        PROFESSEUR
        -->
        <h3 style="margin-top: 40px">Meilleur professeur et chargé d'enseignement</h3>
        <div>
            Votez pour le meilleur professeur ou chargé d'enseignement qui enseigne une de vos sections de cours.
        </div>

        <div class="voteInput">
            <div class="form-group">
                <label ng-hide="noProf">Nom du professeur</label>
                <select ng-model="vote.prof" ng-hide="noProf" class="form-control"></select>
            </div>

            <div class="form-group">
                <label ng-hide="noProf">Nom du professeur s'il n'est pas dans la liste</label>
                <input type="text" ng-model="vote.prof" ng-hide="noProf" class="form-control" placeholder="Entrer nom ici" />
            </div>

            <div class="form-group">
                <input type="checkbox" ng-model="noProf" class="checkbox-inline" /> Je ne souhaite pas voter pour un professeur
            </div>
        </div>

        <hr/>

        <!--
        CHARGE
        -->
        <h3 style="margin-top: 40px">Meilleur chargé de cours</h3>
        <div>
            Votez pour le meilleur chargé de cours qui enseigne une de vos sections de cours.
        </div>

        <div class="voteInput">
            <div class="form-group">
                <label ng-hide="noCharge">Nom du chargé</label>
                <select ng-model="vote.charge" ng-hide="noCharge" class="form-control"></select>
            </div>

            <div class="form-group">
                <label ng-hide="noCharge">Nom du chargé s'il n'est pas dans la liste</label>
                <input type="text" ng-model="vote.charge" ng-hide="noCharge" class="form-control" placeholder="Entrer nom ici" />
            </div>

            <div class="form-group">
                <input type="checkbox" ng-model="noCharge" class="checkbox-inline" /> Je ne souhaite pas voter pour un chargé de cours
            </div>
        </div>

        <hr/>

        <!--
        AUXILIAIRE
        -->
        <h3 style="margin-top: 40px">Meilleur auxiliaire d'enseignement (chargé de TD, TP ou répétiteur)</h3>
        <div>
            Votez pour le meilleur auxiliaire d'enseignement. L'auxiliaire d'enseignement peut-être un chargé
            de travaux dirigés, un chargé de laboratoire ou un répétiteur.
        </div>

        <div class="voteInput">
            <div class="forg-group">
                <label ng-hide="noAux">Nom de l'auxiliaire</label>
                <select ng-model="vote.aux" ng-hide="noAux" class="form-control"></select>
            </div>

            <div class="form-group">
                <label ng-hide="noAux">Nom de l'auxiliaire s'il n'est pas dans la liste</label>
                <input type="text" ng-model="vote.aux" ng-hide="noAux" class="form-control" placeholder="Entrer nom ici" />
            </div>

            <div class="form-group">
                <input type="checkbox" ng-model="noAux" class="checkbox-inline" /> Je ne souhaite pas voter pour un auxiliaire
            </div>
        </div>
    </div>

    <button class="btn btn-primary" ng-click="actions.submitAll()">Envoyer mes votes!</button>
</div>

